{{=<% %>=}}
<!DOCTYPE html>
<html lang="en">
<head>

<title><% PageTitle %></title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="<% BaseUrl %>dist/css/main.min.css">

    <!--[if lt IE 9]>
      <script src="<% BaseUrl %>dist/js/ie8.min.js"></script>
    <![endif]-->

	<script src="<% BaseUrl %>dist/js/main.min.js"></script>


</head>

<body>


<div id="header" role="banner">

	

</div>


